* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

/* GENERAL */

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #ebebeb;
    font-size: 12px;
}

/* 
COLORES
Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a; 
*/

/* HEADER */

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

/* header a img {
    max-height: 40px;
    margin: 10px;
    justify-content: flex-start;
} */

.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.buscador {
    width: 85%;
    margin: auto;
    padding: 10px;
}

header nav {
    margin-bottom: 10px;
}

.fondo-blanco {
    background-color: #fff;

}


header p {
    text-align: center;
    margin-bottom: 10px;
}

a:link, a:visited, a:active {
    /* text-decoration:none; */
    /* color: black; */
}

.burger-button {
    background-color: #03264C;
    color: #fff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}


/* MAIN */

main {
    margin: auto;
    width: 90%;
}

h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #666;
}

.img-producto {
    width: 100%;
}

article {
    margin-top: 10px;
    /* padding: 15px; */
}

.producto {
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    padding: 15px;
}

.descuento,
.fa-truck {
    color: #39b54a;
}

.fa-truck {
    padding-bottom: 15px;
}

.descripcion {
    padding-top: 15px;
}

.tamanio1 {
    font-size: 24px;
}

.tamanio2 {
    font-size: 18px;
}

.tamanio3 {
    font-size: 16px;
}

/* FOOTER */

footer {
    background-color: #fff;
}

footer section {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    color: #666;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

/* MEDIA QUERIES*/

@media (min-width: 361px) {
    .descripcion {
        display: none;
    }
    .main-navbar {
        display: none;
    }
}

@media (min-width: 768px) {
    main article {
        box-shadow : 0px 0px 10px rgb(100, 100, 100);
        border-radius: 15px;
    }

    /* header nav ul {
        display: inline;
    } */

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    
    .burger-button {
        display: none;
    }
    
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    
    .main-navbar ul {
        display: flex;
    }
    
    .main-navbar li {
        margin: 0 5px;
    }
    
    .producto {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .img-producto {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 250px;
    }
    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .main-navbar {
        margin-top: 30px;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar li {
        font-size: 19px;
    }
}